<div *ngIf="organization">
  <h2>{{organization.name}}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Supporters</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <button class="list-group-item"><span class="badge">83</span> Highley</button>
        <button class="list-group-item"><span class="badge">82</span> Heaton</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Campaigns</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <button class="list-group-item">Mission Trip Auction 2017</button>
        <button class="list-group-item">Mission Trip Auction 2016</button>
        <button class="list-group-item">Mission Trip Auction 2015</button>
      </div>
    </div>
  </div>
</div>
